{% extends 'base.html.twig' %}

{% block title %}Jeux Olympiques{% endblock %}

{% block body %}
<h1> JEUX OLYMPIQUES PARIS 2024  </h1>
<p>Les Jeux olympiques d'été sont une 
compétition multisports mondiale supervisés
par le Comité international olympique et se 
déroulent tous les quatre ans.</p>
{% include "_partials/_carousel.html.twig" %} 
{% endblock %}
