{% extends 'base.html.twig' %}

{% block title %}Administration des offress{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Ajouter une offre</h1>
                {% include "admin/offres/_form.html.twig" %}
            </div>
        </section>
    </main>
{% endblock %}
 
