{% extends 'base.html.twig' %}

{% block title %}Hello CommandesController!{% endblock %}

{% block body %}
<h1>Bravo vous venez de finaliser votre commande.</h1>
<p>Vous pouvez télécharger votre billet en format PDF en cliquant sur le bouton ci-dessous.</p>
<p>Votre commande :</p>
 

{% endblock %}
